.Article {
  border: 1px solid lavenderblush;
  padding: 10px;

  & > * {
    display: inline-block;
    padding: 4px 0;
    margin: 4px 0;
    width: 100%;
  }

  & > button {
    padding: 0.2em;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
  }
}
